@model IEnumerable<Duurzame_Consumentkeuzes.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Apparaten</h1>

<form asp-controller="Devices" asp-action="Index" method="get">
    <div class="form-group">
        <label for="energyLabelId">Minimaal Energy Label:</label>
        <select id="energyLabelId" name="energyLabelId">
            <option value="">Any</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
            <option value="5">E</option>
            <option value="6">F</option>
            <option value="7">G</option>
            
        </select>
    </div>

    <label for="showAll">Laat alle apparaten zien:</label>
    <input type="checkbox" id="showAll" name="showAll" value="true" />

    <button type="submit">Apply Filters</button>


</form>

<table>
    <tr>
        @foreach (var item in Model)
        {
            <td class="deviceItem">
                <table>
                    <tr>
                        <td>
                            <img src="@item.ImagePath" class="deviceImage">
                        </td>
                        <td>                          
                            @item.Name <br />
                            Energieklasse: <img src="@item.EnergyLabel.ImagePath"> <br />
                            Prijs: €@item.Price                           
                        </td>
                    </tr>
                </table>                             
            </td>
        }
    </tr>
</table>








@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@