@model IEnumerable<Duurzame_Consumentkeuzes.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Apparaten</h1>
<p>Op deze pagina vindt u een door ons aanbevolen assortiment aan huishoudelijke apparaten!</p>
<br />

@{
    List<string> types = new List<string>();
    foreach (var item in Model)
    {
        if (!types.Contains(item.Type))
        {
            types.Add(item.Type);
        }
    }
    foreach (string type in types)
    {
        <h2>@type</h2>
        
        List<Device> devices = new List<Device>();
        foreach (var item in Model)
        {
            if (item.Type == type)
            {
                devices.Add(item);
            }
        }
        <p>Aantal: @devices.Count()</p>

        <table>
            @{
                int rowCount = (int)Math.Ceiling(((double)devices.Count() / 5));
                for (int r = rowCount; r > 0; r--)
                {
                    <tr>
                        @for (int i = 0; i < 5; i++)
                        {
                            @if (devices.Count == 0)
                            {
                                <td></td>
                            }

                            else
                            {
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="@devices[devices.Count() - 1].ImagePath" class="deviceImage">
                                            </td>
                                            <td>
                                                @devices[devices.Count() - 1].Name <br />
                                                Energieklasse: <img src="@devices[devices.Count() - 1].EnergyLabel.ImagePath"> <br />
                                                Prijs: €@devices[devices.Count() - 1].Price
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                devices.RemoveAt(devices.Count() - 1);
                            }                                                                          
                        }                        
                    </tr>
                }
            }                          
        </table>
        <br />
    }
}

@*
<table>
    <tr>
        @foreach (var item in Model)
        {
            <td class="deviceItem">
                <table>
                    <tr>
                        <td>
                            <img src="@item.ImagePath" class="deviceImage">
                        </td>
                        <td>                          
                            @item.Name <br />
                            Energieklasse: <img src="@item.EnergyLabel.ImagePath"> <br />
                            Prijs: €@item.Price                           
                        </td>
                    </tr>
                </table>                             
            </td>
        }
    </tr>
</table>
*@
